@import "~styles/_import";

.wrap
  height 100%
  width 100%

.titleCol
  margin-top 24px
  justify-content center
  display flex

.voteTitle
  font-size 22px
  line-height 26px
  font-weight bold

.voteCard
  margin-top 24px