@import "~styles/_import";

.wrap
  width 100%
  border 2px solid $velvet500
  display flex
  height 80px
  align-items center
  border-radius 4px
  img
    border-radius 50%

.position
  font-weight bold
  font-size 18px
  line-height 22px
  padding 20px

.avatar
  flex 0 0 80px
  padding 20px

.nameWrap
  flex 1 1 0
  padding 20px
  display flex
  flex-direction column
  justify-content center

.name
  font-weight bold
  font-size 18px
  line-height 22px

.description
  font-size 16px
  line-height 20px

.voteStat
  padding 20px
  text-align center
  flex 0 0 80px

.actions
  padding 20px