@import "~styles/_import";

.wrap
  width 100vw
  height 64px
  background-color $velvet500

.row
  height 100%

.col
  height 100%

.headerContainer
  height 100%
  padding 12px 28px 12px 28px
  display flex
  justify-content space-between
  align-items center

.logo
  color #ffffff
  font-family $fontFamilyLemon
  font-size 22px
  line-height 26px
  cursor pointer