@import "~styles/_import";

.inputWrap
  position relative
  font-size 14px
  line-height 18px

.input
  width 100%
  border-radius 4px
  border 1px solid $gray400
  padding 12px 16px 12px 16px

.disabled
  pointer-events none

.error
  position absolute
  bottom: -16px
  color $red500