@import "~styles/_import";

.modalWrap
  padding 0
  padding-bottom 20px
  min-width 420px
  height 216px

.top
  height 58px
  padding 16px
  border-radius 10px 10px 0 0
  color #ffffff
  font-size 22px
  line-height 26px
  font-weight bold
  background-color $velvet500
  align-items center

.contentPart
  padding 16px
  padding-bottom 0
  height: calc(100% - 58px);
  display: flex;
  flex-direction: column;

.modalInfo
  font-size 16px
  line-height 22px

.buttons
  margin-top auto
  display flex
  justify-content space-between
