$fontFamily = Ubuntu
$fontFamilyRoboto = Roboto
$fontFamilyLemon = Lemon

$smCoef = 0.9

$fontColor = #000
$main = #25bcca
$mainDark = darken($main, 21%)
$red500 = #F21827
$green500 = #21d35A
$blue500 = #016FFF
$blue200 = #EAF0F5
$velvet500 = #7952b3
$bg = #fff
$dimmedGray = #d6d6d6
$gray400 = #ABABAB
$gray500 = #7f7f7f
$gray300 = #d8d8d8
$gray200 = #f1f1f1
$gray100 = #edeef0
$orange400 = #f0a400
$orange500 = #feba00
$instGradient = 45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%;
$landingGradient = 45 deg, #e6683c 0%,#dc2743 100%;
