@import '_vars'

@font-face
	font-family $fontFamilyLemon
	src url('../public/static/fonts/Lemon-Regular.woff2') format('woff2'), url('../public/static/fonts/Lemon-Regular.ttf') format('ttf'), url('../public/static/fonts/Lemon-Regular.woff') format('woff'),  url('../public/static/fonts/Lemon-Regular.eot') format('eot')
	font-weight normal
	font-style normal
	font-display swap

@font-face
	font-family $fontFamily
	src url('../public/static/fonts/Ubuntu-Italic.woff2') format('woff2'), url('../public/static/fonts/Ubuntu-Italic.woff') format('woff'), url('../public/static/fonts/Ubuntu-Italic.ttf') format('ttf')
	font-weight normal
	font-style italic
	font-display swap

@font-face
	font-family $fontFamily
	src url('../public/static/fonts/Ubuntu-Thin.woff2') format('woff2'), url('../public/static/fonts/Ubuntu-Thin.woff') format('woff')
	font-weight 100
	font-style normal
	font-display swap

@font-face
	font-family $fontFamily
	src url('../public/static/fonts/Ubuntu.woff2') format('woff2'), url('../public/static/fonts/Ubuntu.woff') format('woff'), url('../public/static/fonts/Ubuntu.ttf') format('truetype')
	font-weight normal
	font-style normal
	font-display swap

@font-face
	font-family $fontFamily
	src url('../public/static/fonts/Ubuntu-LightItalic.woff2') format('woff2'), url('../public/static/fonts/Ubuntu-LightItalic.woff') format('woff'), url('../public/static/fonts/Ubuntu-LightItalic.ttf') format('truetype')
	font-weight 300
	font-style italic
	font-display swap

@font-face
	font-family $fontFamily
	src url('../public/static/fonts/Ubuntu-Medium.woff2') format('woff2'), url('../public/static/fonts/Ubuntu-Medium.woff') format('woff'), url('../public/static/fonts/Ubuntu-Medium.ttf') format('truetype')
	font-weight 500
	font-style normal
	font-display swap

@font-face
	font-family '../public/static/fonts/Ubuntu Condensed'
	src url('../public/static/fonts/UbuntuCondensed-Regular.woff2') format('woff2'), url('../public/static/fonts/UbuntuCondensed-Regular.woff') format('woff')
	font-weight normal
	font-style normal
	font-display swap

@font-face
	font-family $fontFamily
	src url('../public/static/fonts/Ubuntu-MediumItalic.woff2') format('woff2'), url('../public/static/fonts/Ubuntu-MediumItalic.woff') format('woff'), url('../public/static/fonts/Ubuntu-MediumItalic.ttf') format('truetype')
	font-weight 500
	font-style italic
	font-display swap

@font-face
	font-family $fontFamily
	src url('../public/static/fonts/Ubuntu-BoldItalic.woff2') format('woff2'), url('../public/static/fonts/Ubuntu-BoldItalic.woff') format('woff'), url('../public/static/fonts/Ubuntu-BoldItalic.ttf') format('truetype')
	font-weight bold
	font-style italic
	font-display swap

@font-face
	font-family $fontFamily
	src url('../public/static/fonts/Ubuntu-Light.woff2') format('woff2'), url('../public/static/fonts/Ubuntu-Light.woff') format('woff'), url('../public/static/fonts/Ubuntu-Light.ttf') format('truetype')
	font-weight 300
	font-style normal
	font-display swap

@font-face
	font-family $fontFamily
	src url('../public/static/fonts/Ubuntu-Bold.woff2') format('woff2'), url('../public/static/fonts/Ubuntu-Bold.woff') format('woff'), url('../public/static/fonts/Ubuntu-Bold.ttf') format('truetype')
	font-weight bold
	font-style normal
	font-display swap